
body {
  background-color: #141414;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  margin: 0;
  text-shadow: 0 2px black;
  
}

a:link {color: black;}

.title {
  font-size: 50;
  font-style: italic;
  text-align: center;
  font-weight: 900;
}

.mainTitle {
  font-size: 60;
  text-align: center;
  font-weight: 900;
}

.regularText {
  font-size: 30;
  text-align: center;
  font-weight: 900;
}

.unRegularText {
  font-size: 30;
  font-weight: 800;
}

.topnav {
  position: fixed;
  background-color: aliceblue;
  top: auto;
  width: 100%;
  height: 45px;
  color: black;
  a:visited {color: black;}
}

#left{
     float:left;
     margin-left: 2%;
}
#right{
     float:right;
     margin-right: 2%;
}

#center{
     float:center;
}

.nothing{
  color: #141414;
}

.hint:hover{
  position: fixed;
  background-color: aliceblue;
  top: auto;
  width: auto;
  height: 45px;
  color: black;
}

.hr{
  background-color: aliceblue;
  height: 0.5%;
  width: 95%;
  margin: 3%;
  position: static;
}

.shadow{
  box-shadow: 0px 0px 47px 21px rgba(240, 248, 255, 0.33);
}

.block {
    text-align: center;
    width: 150px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15%;
}

.block_desc {
  position: relative;
}

/*
.leftText {
  text-align: left;
  margin: 2%;
}

.rightText {
  text-align: right;
  margin: 2%;
}
*/
